.Work-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7rem;
}

.Work-main > h2 {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

.work-content {
  --min: 25rem;
  --gap: 2rem;

  display: grid;
  grid-gap: var(--gap);
  /* min() with 100% prevents overflow
  in extra narrow spaces */
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
  padding-inline: 1rem;
  border-radius: var(--box-borderradius);
}
.Work-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}
.Work-container > img {
  border-radius: 2rem;
  aspect-ratio: 16/9;
}

.btns-work-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.btn-work {
  max-width: 10rem;
  border: 1px solid white;
  box-shadow: var(--boxshadow);
  padding-block: 0.25rem;
}

.btn-work:nth-child(2) {
  background-color: white;
  color: black;
}

.work-writtenwith-content {
  display: flex;
  flex-direction: row;

  gap: 3rem;
}
.work-writtenwith-content > h3 {
  font-size: 3rem;
}
.work-writtenwith-content > h3:nth-child(1) {
  color: #f7df1e;
}

.work-writtenwith-content > h3:nth-child(2) {
  color: #0000ff;
}
.work-writtenwith-content > h3:nth-child(3) {
  color: #ff0000;
}
.Listofrepo-api-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 5rem;
}
.Apifetch-container {
  display: grid;
  grid-template-columns: repeat(12, 60%);
  max-width: 70%;
  height: 30rem;
  padding: 5rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 2rem;
}

.api-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text);
  gap: 1rem;
  box-shadow: var(--boxshadow);
  background-color: var(--2apicolor);
  padding-block: 5rem;
  border-radius: var(--box-borderradius);
  scroll-snap-align: start;
  scroll-snap-stop: always;
  text-align: center;
  transition: all ease 0.2s;
}

.api-content > a {
  font-size: 1.5rem;
}

.btn-api {
  width: 70%;
  text-decoration: underline;
  text-underline-offset: 8px;
  transition: all ease 2s;
}

.btn-api:hover {
  animation: animation 1.2s 3 linear;
}
@keyframes animation {
  50% {
    color: rgb(136, 120, 120);
  }
  100% {
    color: #f00;
  }
}

.btn-github {
  text-align: center;
  width: 20rem;
  border: 1px solid white;
  border-radius: 1rem;
  box-shadow: var(--boxshadow);
  background-color: var(--2apicolor);
  padding-block: 0.25rem;
  transition: ease 2s;
  cursor: pointer;
}

.btn-github:hover {
  animation: animation 1s 3 linear;
  transform: scale(1.2);
}
@keyframes animation {
  50% {
    color: rgb(136, 120, 120);
  }
  100% {
    color: #f00;
  }
}

@media (max-width: 900px) {
  .Apifetch-container {
    max-width: 40%;
    padding: 2rem;
  }
}
